html, body {margin: 0; padding: 0;}
html {height: 100%;}
body {
  font-family: helvetica;
  height: 100%;
  background: #eee;
  
  .content {padding: 10px;}

  #header {
    position: absolute;
    z-index: 99999;
    height: 25px;
    background: #eee;
    .title {font-weight: bold}
    div, a {display: inline-block; padding: 5px; margin-right: 20px;}
  }
  
  #map {
    height: 70%;
    width: 100%;
    background: #fff;
  }
  #info {
    height: 28%;
    overflow: scroll;
  }
  #track {
    padding: 30px 5px 0;
  }
}

.notice {
  padding: 10px;
  background: #ff9;
  font-weight: bold;
}